# misc
.DS_Store
.vscode/settings.json

# node_modules
web-client/node_modules/

# python
backend/__pycache__/

# virtual environment
backend/venv/

# gmail credentials
backend/gmail/credentials.json
backend/gmail/token.json