# misc
.DS_Store
.vscode/settings.json

# node_modules
web-client/node_modules/

# python
backend/__pycache__/

# virtual environment
backend/venv
backend/backend_env
backend/pyenv
backend/data/calculations_history.json
credentials.json
token.json
